---
import Splash from "../components/Splash.astro";
import Name from "../components/Name.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="container">
		<div class="row">
			<div class="column column-50">
				<Name />
				<Splash />
			</div>

			<div class="column column-50">
				<p>Items</p>
			</div>
		</div>
	</div>
</Layout>

<script is:inline>
	(async () => {
		const championsRequest = await fetch("./database/champions.json");
		const championsData = await championsRequest.json();

		// Select a random champion from DB
		const champion =
			championsData[(championsData.length * Math.random()) | 0];

		// Populate info in HTML elements
		document.querySelector("#splash").src = champion.splash;
		document.querySelector("#name").innerHTML = champion.name + document.querySelector("#name").innerHTML;
		document.querySelector("#title").innerText = champion.title;
	})();
</script>
