<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>League of Troll</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
		/>
	</head>
	<body>
		<slot />
		<style is:global>
			/* Global variables */
		</style>
	</body>
</html>
