<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>League of Troll</title>
	</head>
	<body>
		<slot />
		<style is:global>
			* {
				margin: 0;
				padding: 0;
			}

			html,
			body {
				height: 100%;
				width: 100%;
			}

			body {
				max-width: 1280px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 30px;
				position: relative;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</body>
</html>
