<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<title>League of Troll</title>
	</head>
	<body>
		<slot />
		<style is:global>
			/* Global variables */
		</style>
	</body>
</html>
